/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  padding:0px;
  margin:0px;
  background-color:#F8F8F8 !important ;
}

#header{
  height:40px;
  width:100%;
  background-color:#F05A28;
  padding:0px;
  margin:0px;
}

#navbar{
  width:850px;
  height:40px;
  margin:auto;
}

ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

 li {
  display: inline;
  padding: 0 0 0 10px;
}

#nav_left 
{
  display: inline;
  float:left;
  list-style-type:none;
  padding-top:10px;
  color: white;
}

#nav_right 
{
  display: inline;
  float:right;
  list-style-type:none;
  padding-top:10px;
  padding-right:20px;
  color:white;
}

#nav_log_out
{
  padding-right:5px;


}



#title{
  font-size:120%;
  color:white;
}
.headerlinks{color:white !important;}
.headerlinks:hover {color:#007AA5 !important;}